In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("/home/jiwon/jiwon/pygbased/data/ML1M/raw/u.data", sep = '\t', read)
df.head()

   196\t242\t3\t881250949
0  186\t302\t3\t891717742
1   22\t377\t1\t878887116
2   244\t51\t2\t880606923
3  166\t346\t1\t886397596
4  298\t474\t4\t884182806