In [2]:
import os.path as osp
import os

#torch 전에 할댕해줘야함
os.environ["CUDA_DEVICE_ORDER"]="PCI_BUS_ID" 
os.environ["CUDA_VISIBLE_DEVICES"]= "1"


import torch
from tqdm import tqdm

from torch_geometric.datasets import AmazonBook, MovieLens100K
from torch_geometric.nn import LightGCN
from torch_geometric.utils import degree


device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')
print('Device:', device)
print('Current cuda device:', torch.cuda.current_device())
print('Count of using GPUs:', torch.cuda.device_count())
# 아마존
path = osp.join('./', 'data', 'Amazon')
dataset = AmazonBook(path)
data = dataset[0]
num_users, num_books = data['user'].num_nodes, data['book'].num_nodes
data = data.to_homogeneous().to(device)

Device: cuda
Current cuda device: 0
Count of using GPUs: 1

In [49]:
import pandas as pd
df = pd.read_csv('/home/jiwon/Jiwon_Rsch/mount/pygbased/data/Gowalla/raw/filtered_total.txt',sep = " " ,header =None, index_col = None)

In [50]:
df

             0      1                     2
0            0   4169  2010-10-19T23:55:27Z
1            0  31533  2010-10-18T22:17:43Z
2            0  29074  2010-10-17T23:42:03Z
3            0   2572  2010-10-17T19:26:05Z
4            0  40979  2010-10-16T18:50:42Z
...        ...    ...                   ...
1027459  29857  13173  2010-04-27T04:32:19Z
1027460  29857    392  2010-03-14T18:13:45Z
1027461  29857  30837  2010-03-13T03:29:55Z
1027462  29857  10578  2010-02-15T03:33:42Z
1027463  29857  24374  2010-02-13T07:49:03Z

[1027464 rows x 3 columns]

In [56]:
len(df[1].unique())

40988